<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
 <mapper namespace="com.nyeong.spring.test.mybatis.repository.RealEstateRepository">
 		
 		<select id="selectRealEstate" parameterType="int"
 		resultType="com.nyeong.spring.test.mybatis.domain.RealEstate">
 			SELECT
 				`id`
 				,`realtorId`
 				,`address`
 				,`area`
 				,`type`
 				,`price`
 				,`rentPrice`
 				,`createdAt`
 				,`updatedAt`	
 			FROM
 				`real_estate`
 			WHERE
 				`id` = #{id}
 		
 		</select>
 	
 	<select id="selectRealEstateListByRentPrice" parameterType="int" 
 	resultType="com.nyeong.spring.test.mybatis.domain.RealEstate">
 		 	SELECT
 				`id`
 				,`realtorId`
 				,`address`
 				,`area`
 				,`type`
 				,`price`
 				,`rentPrice`
 				,`createdAt`
 				,`updatedAt`	
 			FROM
 				`real_estate`
 			WHERE
 				<![CDATA[ `rentPrice` < #{rentPrice} ]]>
 		
 	</select>
 	
 	<select id="selectRealEstateListByAreaAndPrice" parameterType="map"
 	resultType="com.nyeong.spring.test.mybatis.domain.RealEstate">
 	 		 SELECT
 				`id`
 				,`realtorId`
 				,`address`
 				,`area`
 				,`type`
 				,`price`
 				,`rentPrice`
 				,`createdAt`
 				,`updatedAt`	
 			FROM
 				`real_estate`
 			WHERE
 				<![CDATA[
				`area` >= #{area}
 				AND `price` <= #{price}
 				AND `type` = '매매'	
 				]]>
 	
 	</select>
 </mapper>